@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", serif;
}
:root{
    ---first-color:rgb(254, 163, 1);
    ---second-color:rgb(1, 172, 253);
    ---font-color:#ffffff
}

/* primary selection starts here  */
/* p{
    padding-bottom: 2rem;
    opacity: .7;
} */
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2rem;
}
h3{
    padding: 2rem 0;
    font-size: 25px;
}

.btn-primary{
    background-color: rgb(17, 17, 17);
    color: var(---font-color);
    padding: 14px 47px;
    border-radius: 12px;
    font-size: 1.3rem;
    font-weight: bold;
}


/* nav-bar starts here   */
#bar{
    display: none;
}
.nav-container{
    width: 84vw;
    margin: 1.5rem auto;
    display: flex;
    justify-content: space-between;
}
.nav-left{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.nav-middle >ul{
    display: flex;
    list-style: none;
    column-gap: 2rem;
    padding-top: 1rem;
}

#nav-li1{
    color: var(---first-color);
    font-size: 20px;
    font-weight: 700;
}
#nav-li2{
    color: var(---second-color);
    font-size: 20px;
    font-weight: 500;
}
#nav-li3{
    color:rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
}
#nav-li4{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
}
.nav-btn {
    align-content: center;
    background-color: var(---first-color);
    color: var(---font-color);
    padding: 10px 60px;
    border-radius: 12px;
    margin: 6px 0;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
/* banner section starts here */
.banner-container{
    width: 84vw;
    margin: 3rem auto;
    display: flex;
    justify-content: space-between;
}
.banner-description{
    align-content: center;
}
.banner-description >p{
    font-size: 1.5rem;
    padding: 1.5rem 0;
}
#empowering{
    color: var(---first-color);
}
#vision{
    color: var(---second-color);
}
/* curriculum section starts here  */
.curriculum-container{
    background-image: url(assets/bg.png);
    width: 84vw;
    margin: 7rem auto;
}
.curriculum-head{
    text-align: center;
    padding-bottom: 5rem;
}
.curriculum-description{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    column-gap: 30px;
    text-align: center;
}
.curriculum-data{
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 40px 25px;
}
.curriculum-data p{
    padding-bottom: 2rem;
    opacity: .7;
    font-size: 15px;
}
.kinder{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.elementary{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.middle{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#read1{
    color: var(---second-color);
    padding-top: 1.5rem;
    font-weight: bold;
}
#read2{
    color: var(---first-color);
    font-weight: bold;
}
#read3{
    color: rgb(135, 0, 255);
    padding-top: 1rem;
    font-weight: bold;
}



.curriculum-btn{
    text-align: center;
    padding: 60px 0;
    
}
.curriculum-btn button{
    background-color: var(---first-color);
    font-size: 50px;
    width: 60px;
    border-radius: 30px;
    border: none;
    color: var(---font-color);
    margin-left: 1rem;
}




















@media  screen and (max-width:576px) {
.nav-container{
    width: 95vw;
    
}
header{
    border: 0.5px solid rgb(254, 163, 1);
}
.nav-middle,.nav-btn{
    display: none;
}
#bar{
    display: inline;
    font-size: 2rem;
}
.div-bar{
    margin-top: .5rem;
    padding:.5rem;
}
/* banner  */
.banner-container{
    width: 95vw;
    margin: 2rem auto;
    flex-direction: column-reverse;
    row-gap: 1rem;
}
.banner-img img{
    width: 94vw;

}
.banner-description{
    text-align: center;
}
.banner-description h1{
    font-size: 2.2rem;
    padding-top: 1rem;
}
.banner-description p{
    font-size: 1rem;
    
}
.banner-description p br {
    display: none;
}
.curriculum-container{
    width: 95vw;
}
.curriculum-head{
    margin-bottom: -2rem;
}
.curriculum-description{
    grid-template-columns: repeat(1,1fr);
    row-gap: 2rem;
}
.curriculum-btn{
    display: none;
}
}